/* CSS created by: Robert Erickson 
    last modified: June 2014

/* these work well when you use html 5 required attribute and type=email */
.required {
    font-weight:bolder;
    font-style:italic;
}

input[type="email"] input:valid{
    border: 3px solid green;
}

input[type="email"] input:invalid{
    border: 3px solid red;
}

.mistake {
	border: 3px solid red; !important
}